<!DOCTYPE HTML>
<html>

<head>
    <title>Uninet</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles_prueba.css')}}"/>-->
    <link rel="stylesheet" href="../static/style_prueba.css">
    <script type="text/javascript" src="../static/Java_editar_perfil"></script>
</head>

<body>
    <div class="main">
        <div id="menubar" class="{{ 'fondo-universidad' if session.get('tipo') == 'universidad' else 'fondo-alumno' }}">
            <div class="caja_menubar">
                <a href='/perfil2'>
                    <img src="{{ url_for('static', filename='perfilTransparente.png')}}" class="menufotos" alt="home">
                </a><br>
                <a href="/perfil2" class="menutexto">Perfil</a><br>
                <a href="/"><img src="{{ url_for('static', filename='homeTransparente.png')}}" class="menufotos"
                        alt="home"></a><br>
                <a href="/" class="menutexto">Home</a><br>
                <a href="/solicitud2"><img src="{{ url_for('static', filename='sendTransparente.png')}}"
                        class="menufotos" alt="home"></a><br>
                <a href="/solicitud2" class="menutexto">Solicitudes</a>
            </div>
        </div>
        <div class="contenedor">
            <div class="margen {{ 'fondo-universidad' if session.get('tipo') == 'universidad' else 'fondo-alumno' }}">
                <div class="flecha" onclick="ApareceMenu()">
                    <a><img src="../static/flecha blanca.png" class="icono_flecha" alt="home" onclick="ApareceMenu()"></a><br>
                </div>
            </div>
            <div id="site_content2">
                <h1>Este es tu perfil con tu informacion personal:</h1>
                <div class="programa_res">
                    <div class="perfil_inicial">
                        <img src="{{ url_for('static', filename='perfilTransparente.png')}}" alt="perfil" class="perfil_img"><br>
                        <a class="perfil_texto">Foto de Perfil</a>
                    </div>
                    <div class="per">
                        <form action="/nuevo_perfil_uni" method="post" onsubmit="return totalperfilvalidadouni()">
                            <div class="form-container">
                                <div class="column">
                                    <h3>Nombre de la Universidad: <input id="NOMBREUNI" type="text" value="{{session.get('nombre')}}" onblur="validateNom(this.id)" name="nombreuni"></h3>
                                    <div class="error_perfil"></div>
                                    <h3>Ubicacion:
                                    <select name="ciudaduni" id="DIRECCIONUNI" class="ciudad_editar" onblur="validalista(this.id)">
                                        {% for ciudad in ciudades %}
                                        <option value="{{ciudad[0]}}">{{ciudad[1]}}</option>
                                        {% endfor %}
                                    </select></h3>
                                    <div class="error_perfil"></div>
                                </div>
                                <div class="column">
                                    <h3>Telefono de contacto: <input id="TELEFONO" name="telefonouni" type="text" value="{{session.get('telefono')}}" onblur="validatenum()"></h3>
                                    <div class="error_perfil" id="teleerror"></div>
                                    <h3>Correo electronico de contacto: <input name="mailuni" id="CORREO" type="text" value="{{session.get('email')}}" onblur="validateMail()"> </h3>
                                    <div class="error_perfil" id="correoerror"></div>
                                    <h3>Pagina web: <input id="PWEB" name="linkuni" type="text" value="{{session.get('link')}}" onblur="validateURL(this.id)"></h3>
                                    <div class="error_perfil" id="pweberror"></div>
                                </div>
                            </div>
                            <div class="boton">
                                <a>
                                    <input class="boton_perfil" type="submit" name="search_field" value="Guardar" />
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-contentERROR">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2 class="modalleter">¡ERROR!</h2>
            <div id="error-message-container">
                <p id="error-message" class="modalleter">{{error}}</p>
            </div>
        </div>
    </div>
</body>

</html>