<!DOCTYPE HTML>
<html>

<head>
    <title>Uninet</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_prueba.css')}}"/>
    <script type="text/javascript" src="../static/Java01"></script>
</head>

<body>
    <div class="main">
        <div id="menubar" class="{{ 'fondo-universidad' if session.get('tipo') == 'universidad' else 'fondo-alumno' }}">
            <div class="caja_menubar">
                <a href='/perfilalu'>
                    <img src="{{ url_for('static', filename='perfilTransparente.png')}}" class="menufotos" alt="home">
                </a><br>
                <a href="/perfilalu" class="menutexto">Perfil</a><br>
                <a href="/homealu"><img src="{{ url_for('static', filename='homeTransparente.png')}}" class="menufotos" alt="home"></a><br>
                <a href="/homealu" class="menutexto">Home</a><br>
                <a href="/enviadas"><img src="../static/mailTransparente.png" class="menufotos" alt="home"></a><br>
                <a href="/enviadas" class="menutexto">Enviadas</a><br>
                <a href="/respuestasalu"><img src="../static/sendTransparente.png" class="menufotos" alt="home"></a><br>
                <a href="/respuestasalu" class="menutexto">Respuestas</a>
            </div>
        </div>
        <div class="contenedor">
            <div class="buscador {{ 'fondo-universidad' if session.get('tipo') == 'universidad' else 'fondo-alumno' }}">
                    <div class="flecha" onclick="ApareceMenu()">
                        <a><img src="../static/flecha blanca.png" class="icono_flecha" alt="home" onclick="ApareceMenu()"></a><br>
                    </div>
                    <form action="/buscar_home" method="get" class="search_field">
                        <input type="text" name="busqueda" placeholder="Buscar programas..." class="search">
                        <input type="submit" value="Buscar" class="boton_buscar">
                    </form>
                </div>
            </div>
            <div id="site_content">
                {%for programa in programas%}
                <div class="programa">
                    <h1>{{programa[1]}}</h1>
                    <h3 class="Sub_programas">Modalidad: {{programa[5]}}</h3>
                    <h3 class="Sub_programas">Precio: {{programa[3]}}$</h3>
                    <h3 class="Sub_programas">Universidad: {{programa[2]}}</h3>
                    <p class="descripcion">{{programa[7]}}</p>
                    <div class="actions">
                        <form action="/info_programa" method="post">
                            <input value="{{programa[0]}}" type="hidden" name="id_programa">
                            <button type="submit" class="boton_visualizar_perfil">Ver mas...</button>
                        </form>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
</body>

</html>